<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Uploader</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js"></script>
</head>

<body>
    <div class="container">

<!-- Page -->
        <div class="form-sm page page-1 row">
            <div class="col s12 m12">
                <div class="card z-depth-2">
                    <div class="card-content">
                        <span class="card-title">
                            Add talent release form
                        </span>
                        <form action="/" id="releaseForm">
                            <div class="file-field input-field">
                                <div class="btn blue darken-2">
                                    <span>Release</span>
                                    <input id="release-file" name="file" type="file" accept=".pdf">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="input-field">
                                <label for="resource_description">Description</label><input id="resource_description" type="text" name="resource_description">
                            </div>

                            <div class="card-action">

                                <button id="release-submit" class="btn waves-effect waves-light green darken-3 right" type="submit" name="action">Upload
                                <i class="material-icons right">cloud_upload</i>
                            </button>
                                <button id="release-skip" class="btn waves-effect waves-light green darken-3 right" name="action">Skip
                                <i class="material-icons right">cloud_upload</i>
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<!-- Page -->
        <div class="form-sm page page-2 row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        Select CSV file
                    </span>
                    <form action="/">
                        <div class="file-field input-field">
                            <div class="btn blue darken-2">
                                <span>CSV File</span>
                                <input id="csv-file" type="file" accept=".csv">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="card-action">

                            <button id="csv-submit" class="btn waves-effect waves-light green darken-3 right" type="submit" name="action">Upload
                        <i class="material-icons right">cloud_upload</i>
                    </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<!-- Page -->
        <div class="form-lg z-depth-2 page page-3 row">
            <h3 class="left">Resource File</h3>
            <span class="right new badge blue" data-badge-caption=""> <span id="counter"></span></span>
            <div id="file-form">
                <form id="fileForm" class="col s12" method="POST" action="/upload">
                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-2">
                            <span>Resource</span>
                            <input id="resourceFile" name="file" type="file" accept=".pdf, .jpg, .jpeg, .mp4, .doc, .docx, .mp3">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" id="resourceFileListener" type="text">
                        </div>
                    </div>
                    <div class="col s8">
                        <video class="responsive-video" controls>
                        <source src="" />
                    </video>
                    </div>

                    <div class="col s4">
                        <div id="poster">

                        </div>
                        <input id="video_poster" name="video_poster" type="hidden" value="">
                        <p>
                            To create a poster move the video control slider to desired position and click capture.
                        </p>
                        <button id="capture" class="btn waves-effect waves-light right">Capture</button>
                    </div>
                    <ul>

                    </ul>
                    <button id="uploadFile" class="btn waves-effect waves-light right" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
                </form>
            </div>
        </div>

<!-- Page -->
        <div class="form-sm page page-4">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Upload Complete!
                    </div>
                    <div class="card-action">
                        <button id="add-more" class="btn waves-effect waves-light green darken-3 right" type="submit" name="action">Add More
                        <i class="material-icons right">cloud_upload</i>
                    </button>
                        <button id="upoad-done" class="btn waves-effect waves-light green darken-3 right" name="action">Done
                        <i class="material-icons right">cloud_upload</i>
                    </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>